<mat-toolbar class="container">
    <div class="container__content">
        <div class="container__content__title">
            <h3>BookStore</h3>
        </div>
        <div class="container__content__text">
            <p>Copyright C 2024 HubSpot, Inc.</p>
        </div>
        <div class="container__content__links">
            <a>Legal stuff</a>
            <hr class="divider">
            <a>Privacy policy</a>
            <hr class="divider">
            <a>Security</a>
        </div>
    </div>
</mat-toolbar>
