<div class="navigation-container">
    <mat-nav-list role="navigation" class="navigation">
        <div class="section section--menu">
            <mat-list-item class="section__item">
                <div class="section__item__content">
                    <div class="section__item__content__icon">
                        <span class="material-symbols-outlined">menu</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item class="section__item section__item--search dark-theme">
                <div class="section__item__content">
                    <div class="section__item__content__icon">
                        <span class="material-symbols-outlined">search</span>
                    </div>
                </div>
            </mat-list-item>
        </div>
        <div class="section section--mail">
            <div matSubheader class="section__headline">
                <h3>Mail</h3>
            </div>
            <mat-list-item *ngFor="let item of mailItems" class="section__item"
                [activated]="activatedItemId === item.id" (click)="onItemClick(item)">
                <div class="section__item__content">
                    <div matListItemIcon class="section__item__content__icon">
                        <span class="material-symbols-outlined">{{ item.icon }}</span>
                    </div>
                    <div class="section__item__content__info">
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            </mat-list-item>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="section section--labels">
            <div matSubheader class="section__headline">
                <h3>Labels</h3>
            </div>
            <mat-list-item *ngFor="let item of labelItems" class="section__item"
                [activated]="activatedItemId === item.id" (click)="onItemClick(item)">
                <div class="section__item__content">
                    <div matListItemIcon class="section__item__content__icon">
                        <span class="material-symbols-outlined">{{ item.icon }}</span>
                    </div>
                    <div class="section__item__content__info">
                        <span>{{ item.label }}</span>
                    </div>
                </div>
            </mat-list-item>
        </div>
    </mat-nav-list>
</div>