@forward "../scss/theme";
@import "../scss/variables";

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";

    &.authorized {
        display: block;
    }

    @media(#{$tablet}) {
        grid-template-columns: 80px 1fr;
    }

    @media(#{$mobile}) {
        grid-template-columns: none;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: "header" "main" "footer" "nav";
    }
        
    .header {
        grid-area: header;
    }

    .main  {
        grid-area: main;
        padding: 12px;
    }

    .footer {
        grid-area: footer;

        @media(#{$mobile}) {
            padding-bottom: 80px;
        } 
    }

    .nav {
        grid-area: nav;
        position: fixed;
        width: 360px;
        height: 100vh;

        @media(#{$tablet}) {
            width: 80px;
        }

        @media(#{$mobile}) {
            bottom: 0;
            width: 100%;
            height: 80px;
        }
    }
}