<div class="container">
    <div class="image-wrapper">
        <img src="../../../../assets/images/book.jpg">
    </div>
    <div class="info-wrapper">
        <div class="book-name-wrapper" *ngIf="!bookEditing, else editingForm">
            <h3>{{book?.name}}</h3>
            <h4>{{book?.author}}</h4>
        </div>
        <ng-template #editingForm>
            <form [formGroup]="editForm" class="form">
                <mat-form-field class="form__field" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="form__field" appearance="outline">
                    <mat-label>Author's name</mat-label>
                    <input matInput formControlName="author">
                </mat-form-field>
            </form>
        </ng-template>

        <div class="detail-info">
            <ul>
                <li>Publisher</li>
                <li>Publication year</li>
                <li>Pages</li>
                <li>Size</li>
                <li>Weight, g</li>
                <li>Age limit</li>
            </ul>
            <ul>
                <li>Codemasters</li>
                <li>2024</li>
                <li>415</li>
                <li>20.5x13x2.3</li>
                <li>320</li>
                <li>16+</li>
            </ul>
        </div>
        <div class="panel">
            <mat-action-list class="panel__content">
                <button *ngIf="bookEditing" mat-flat-button class="panel__content__button secondary" (click)="onBookSave()">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
                <button *ngIf="!bookEditing" mat-flat-button class="panel__content__button secondary" (click)="onBookEdit()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-flat-button class="panel__content__button warn light-theme" (click)="onBookDelete()">
                    <mat-icon>delete</mat-icon>
                    Delete book
                </button>
            </mat-action-list>
        </div>
    </div>
</div>
