@use "../../../scss/mixins/typography";
@forward "../../../scss/theme";
@import "../../../scss/variables";

@mixin place-items-center() {
    display: grid;
    place-items: center;
}

.navigation-container {
    background-color: var(--md-sys-color-surface-container-low);
    padding-inline: 12px;
    height: 100%;

    .navigation {
        display: flex;
        flex-direction: column;
        height: 100%;
        @include typography.label-large();

        @media(#{$tablet}) {
            align-items: center;
            justify-content: center;
            gap: 12px;
            @include typography.label-medium();
        }

        @media(#{$mobile}) {
            flex-direction: row;
            justify-content: space-around;
            @include typography.label-small();
        }

        &__item {

            @media(#{$desktop}) {
                &--search {
                    margin-bottom: 28px;
                }
    
                &--home {
                    margin-top: 28px;
                }
            }
            

            @media(#{$mobile}) {
                max-width: 64px;
            }

            &__content {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;

                &__icon {
                    width: 24px;
                    height: 24px;
                    z-index: 1000;
                }

                @media(#{$tablet}) {
                    justify-content: center;

                    &__info {
                        display: none;
                    }
                }
            }

            &.mdc-list-item--activated {
                .material-symbols-outlined {
                    font-variation-settings: 'FILL' 1;
                }
            }
        }

    }
}