<div class="container">
    <div class="banner">
    </div>
    <div class="info">
        <div class="info__title">
            <h1>AWESOME BOOKSTORE</h1>
        </div>
        <div class="info__subtext">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, culpa perspiciatis, laborum magnam, quaerat
                quo exercitationem eum et facilis dolores.</p>
        </div>
        <button mat-flat-button routerLink="/books" class="info__button purple dark-theme primary">Go To Books</button>
    </div>
</div>