@import "../../../scss/theme/";
@import "../../../scss/mixins/typography";

.container {
    width: 100%;
    height: 100%;
    position: relative;

    .banner {
        width: 100%;
        height: 700px;
        background: url("../../../assets/images/banner.jpg")no-repeat center center / cover fixed;
        border-radius: 28px;
        background-position: top;
        background-size: cover;
    }

    .info {
        display: grid;
        gap: 12px;
        position: absolute;
        top: 20%;
        left: 10%;
        max-width: 500px;
        margin: 12px;
        margin-right: 32px;
        color: var(--md-sys-color-on-background-dark);

        &__title {
            font-size: 32px;
            text-shadow: 0 4px 8px rgba(0, 0, 0, 1);

            @media(#{$mobile}) {
                font-size: 16px;
            }
        }

        &__subtext {
            font-size: 16px;
        }

        &__button {
            font-size: 28px;
            height: 72px;
            --md-sys-typescale-label-large-font-size: 28px;

            @media(#{$mobile}) {
                height: 44px;
                --md-sys-typescale-label-large-font-size: 22px;
            }
        }

        @media(#{$tablet}) {
            left: 12px;
        }

        @media(#{$mobile}) {
            left: 5%;

            &__subtext {
                font-size: 14px;
            }
        }
    }
}